<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display:none;
}
#myDIV1 {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display:none;
}
</style>
</head>
<h3>Manager Logged in</h3>
<h4>{{request.session.username}}</h4>

<button onclick="myFunction()">View all Projects</button>
<button onclick="myFunction1()">Add Project</button>

<div id="myDIV1">
<form action="http://127.0.0.1:8000/manager/" >
{{form.as_p}}
   </select>
    <input type="submit" value="submit">

</form>
    </div>

<div id="myDIV">

    <table id="projects">
  <tr>
      <th>project id</th>
      <th>project name</th>
      <th>customer name</th>
      <th>project desc</th>
\
      <th>cust details</th>
      <th>tasks</th>
  </tr>
  {% for i in plist %}
   <tr>
    <td>{{i.pid}}</td>
    <td>{{i.pname}}</td>
    <td>{{i.cname}}</td>
    <td>{{i.pdesc}}</td>
    <td>{{i.cdetails}}</td>
    <td><a href="http://127.0.0.1:8000/addtask/">Add Task</a></td>
       <td><a href="http://127.0.0.1:8000/viewdetail/">View Details</a></td>

   </tr>
{% endfor %}
</div>


<script>
   function myFunction()
   {
    var x = document.getElementById("myDIV");
    var y = document.getElementById("myDIV1");
    if (x.style.display == "none") {
         x.style.display = "block";
         y.style.display="none";
            } else {
         x.style.display = "none";
            }
    }

function myFunction1()
   {
    var x = document.getElementById("myDIV");
    var y = document.getElementById("myDIV1");
    if (y.style.display == "none") {
         y.style.display = "block";
         x.style.display="none";
            } else {
         y.style.display = "none";
            }
    }
</script>

</html>
